*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#111;
color:white;
}

header{
padding:25px;
text-align:center;
background:#181818;
border-bottom:1px solid #333;
}

header h1{
font-size:30px;
margin-bottom:8px;
}

header p{
color:#bdbdbd;
}

.container{
width:95%;
max-width:550px;
margin:20px auto;
}

.card{
background:#1c1c1c;
padding:18px;
margin-bottom:18px;
border-radius:18px;
box-shadow:0 0 10px rgba(0,0,0,.35);
}

.card h2{
margin-bottom:15px;
font-size:20px;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#00c853;
color:white;
font-size:17px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
transition:.25s;
}

button:hover{
transform:scale(1.02);
}

button:active{
transform:scale(.98);
}

select{
width:100%;
padding:12px;
border-radius:10px;
border:none;
margin-top:10px;
font-size:16px;
background:#2b2b2b;
color:white;
}

#gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-top:15px;
}

.photo{
position:relative;
}

.photo img{
width:100%;
aspect-ratio:1;
object-fit:cover;
border-radius:10px;
border:2px solid white;
}

.removeBtn{
position:absolute;
top:5px;
right:5px;
width:24px;
height:24px;
border-radius:50%;
background:red;
color:white;
border:none;
cursor:pointer;
font-size:13px;
}

#preview{
width:270px;
height:480px;
margin:20px auto;
background:#000;
border:10px solid white;
border-radius:25px;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

#preview img{
max-width:100%;
max-height:100%;
object-fit:contain;
transition:transform 5s ease-in-out;
}

#status{
margin-top:15px;
text-align:center;
color:#bdbdbd;
}

#musicName,
#voiceName,
#photoCount{
margin-top:10px;
color:#bdbdbd;
text-align:center;
}

hr{
border:none;
border-top:1px solid #333;
margin:18px 0;
    }
